body {
    background-image: url('../assets/imgs/Background.png');
    background-position: center;
}
.full {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
}

.header {
    display: flex;
    margin-top: 3%;
    width: 100%;
    height: 100px;
}

.box1{
    flex:1;
}

.box3 {
    flex:3;
}

.logo{
    padding-left: 5%; 
}

.search-input {
    margin: auto;
    position: relative;
    width: 60%;
}

.search-input input[type=text] {
    border: none;
    margin-top:10px;
    width: 100%;
    height: 45px;
    background-color: dimgrey;
    box-sizing: border-box;
    padding: 8px 30px 8px 15px;
    outline: none;
    transition: .3s;
    color: white;
}

.search-input button{
    position: absolute;
    right:8px;
    top:18px;
    height: 28px;
    width: 28px;
    padding-right:10px;
    border:none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: Transparent;
}

.close {
    margin: 10px 50px 10px 10px;
}

.close button {
    position: absolute;
    right: 50px;
    width: 28px;
    padding-right:10px;
    border:none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: Transparent;
}

.menu {
    margin:10px auto; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
}

.menu-box {
    margin: 30px;
    width: 150px;
    height: 140px;
    text-align: center;
    border: 1px solid black;
    background: #1D1D1E; 
    padding: 10px;
    box-shadow:  0 0 3px 3px  rgba(2, 175, 31, 0.76);
}

.icone {
   margin-top: 20px; 
}

.div {
    margin-top: 25px;
    margin-bottom: 5px;
}

.menu-box span {
    color: white;
}